simple_app/external_flows.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.2"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
  <flow name="another_flow" doc:name="another_flow">
      <inbound-endpoint ref="another_flow_endpoint" doc:name="another_flow_endpoint"/>
      <set-payload value="Some response" doc:name="Set Payload"/>
  </flow>
  <sub-flow name="simple_flow_healthcheck" doc:name="simple_flow_healthcheck">
    <set-payload value="#[string:Healthy]" doc:name="Set Payload"/>
	  <logger level="DEBUG" message="#[string:Healthy]" doc:name="Logger"/>
	  <http:response-builder status="200" contentType="text/plain" doc:name="HTTP Response Builder"/>
	</sub-flow>
</mule>
